@charset "ISO-8859-1";
*{
    margin: 0;
    padding: 0;
}
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: .3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.brand{
    padding-left: 40%;
    word-spacing: 5px;
}
.brand h1 {
	font-size: 25px;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: crimson;
}
body{
    font-family: 'Raleway', sans-serif;
    background: url(https://wallpaperaccess.com/full/142671.jpg) no-repeat;

}

.background{
    background-size: cover;
    height: 100vh;
    display: flex;
}

.text{
    margin-top: 10%;
    flex: 1;
}

.box{
    margin-top: 10%;
    flex: 1;
}

.text{
    margin-left: 0%;
    font-weight: 300px;
}

.box{
    margin-left: 25%;
}

.text h1{
    font-size: 50px;
    color: crimson;
    font-weight: 500;
    padding-left: 10%;
}

.text p{
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    margin-left: 10%;
}

.text p a{
    color: crimson;
    font-weight: 700;
    text-decoration: none;
    
}

.form{
    background: transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 250px;
}
::placeholder{
    color: black;
    font-weight: 500;
}

input{
    margin: 20px 0;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.contact, .date, .name, .email, .time{
    border-bottom: 1px solid #fff;
}

.button{
    background: transparent;
    border: 1px solid #fff;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.button:hover{
    background: crimson;
    color: #000;
    cursor: pointer;
}
footer{
  position: relative;
  bottom: 0px;
  width: 110%;
  background: #111;
  margin: 0;
  padding: 0;
  color: #d9d9d9;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin-top: 300px;
  opacity: 0.8;
}
.bottom center{
  padding: 5px;
  font-size: 15px;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    bottom: 0px;
  }
}